@charset "utf-8";
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: #121212;
}
.ffJosefin{/* header -> nav -> ul */
    font-family: "Josefin Sans", sans-serif;
}
.innerWrap{/* p.138 */
    /* border: 4px solid lightblue; */
    width: 1240px;
    margin: 0 auto;
    padding: 80px 20px 0;
}
main h2{
    text-align: center;
    font-size: 60px;
    letter-spacing: .05em;  /* 글자 간격 */
    margin-bottom: 80px;
}
header{
    background: url(../img/asdasd.jpg) no-repeat right center/cover;
    /* background-image: url(../img/백그라운드.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover; */
}

header .innerWrap{/* p.142 */
    height: 720px;
    position: relative;
}
header h1{/* p.142 */padding-top: 120px;}

header .scroll{
    position: absolute; left: 0; bottom: 0;
    /* header .innerWrap 기준점 (position :relataive) */
    width: 100%; text-align: center; font-size: 16px;}
header .scroll img{margin-top: 8px;}
header nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;   /* 메뉴가 항상 앞에 나오도록 */}
header nav ul{
    display: flex;
    justify-content: space-around;
    width: 1240px;
    margin: 0 auto;
    padding: 10px 20px;}
header nav ul li a:hover{/* 마우스 올렷을때 */
    text-decoration: underline;/* 밑줄 */}
.msgSec{
    background-color: #fbfaf7 ;
}
.msgSec p{
    text-align: center;
    line-height: 1.75;
    margin-bottom: 40px;
}
.msgSec p.illust{
    margin-top: 80px;margin-bottom: 0;
    position: relative; /* 하위요소의 position 기준점 */}
.msgSec p.illust::before{
    content: url(../img/rip1.png);
    position: absolute; left: 320px; bottom: -30px;
}
.msgSec p.illust::after{
    content: url(../img/rip2.png);
    position: absolute;
    right: 320px;
    bottom: -30px;
}
.dateSec{
    background-color: #ffffff;
    padding-bottom: 120px;
}
.dateSec .layoutWrap{display: flex;}
.dateSec .layoutWrap>p{flex-basis: 735px;}
.dateSec .layoutWrap>div{flex-basis: 465px; padding-top: 100px;}
.dateSec .deteDetailSec{
    font-size: 72px; margin: 0 0 170px -100px;
    background-color: #ffffff;
    padding: 40px 64px;
    line-height: 120%;}
.word1{font-size: 50px;}
.word2{font-size: 40px;}
.word3{font-size: 60px;}

.accessSec{margin-left: 48px;}
.accessSec h3{
    color: #cfafa3;
    font-size: 55px;
    letter-spacing: .05em;
    margin-bottom: 8px;}
.accessSec p{line-height: 160%;}

.formSec{background-color: #efe8d9;padding-bottom: 60px;}
form{width: 600px; margin: 0 auto;}
input[type="text"], /* input중에서 type이 'text' 이면 선택 */
input[type="email"],
select,
textarea{
    border: 1px solid #cccccc;
    background-color: #ffffff; width: 100%;
    width: 100%;
    margin-top: 5px;
    padding: 4px 8px;}
input[type="radio"],
input[type="checkbox"]{
    width: 16px;
    height: 16px;
    vertical-align: baseline;
    margin-right: 4px;
}

/* p.160 */
.attendRadio{text-align: center; margin-bottom: 40px;}
.attendRadio label{margin: 0 20px; font-size: 24px;}
.allergyCheck{margin-right: 24px;}

select{background: #ffffff url(../img/vi.png) no-repeat 98% 50%/17px 10px;}

/* p.161 */
textarea{height: 148px; margin-bottom: 30px;}
form>p{line-height: 140%; margin-bottom: 20px;}

.submitBtn{text-align: center;}
input[type="submit"]{background-color: #121212; color: #ffffff; padding: 18px 80px;}

/* p.162 */
footer{
    background-color: #c7887f;
    color: #f3e9e5;
    padding: 14px 10px 20px;
    text-align: center;
}

/* 페럴랙스 효과 */
.dateSec{margin-bottom: 480px;} /* 배경을 보여질 여백 */
.dateSec::after{
    content: "";    /* 배경을 넣을 예정이라서 내용물을 없는 상태 */
    position: fixed;    /* 스크룰을 움직여도 고정 */
    left: 0; top: 0; width: 100%; height: 100%;
    background: url(../img/배경이미지.jpg) no-repeat center/cover;
    z-index: -1;    /* 기본 요소들 보다 아래에 배치 */
}


/* 
    p.illust{ }     : p 요소의 class명이 illust 이면
    .illust{ }      : 전체요소의 class명이 illust 이면 */

/* 
    p.150
    !iumportant > style속성 > id > class > 타입 > *
        1. p{ text-size : 16px !iumportant; }
        2. <div style="text-size" : 16px;>
        3. #id{ text-size : 16px; }
        4. .class{ text-size: 16px; }
        5. p{ text-size : 16px; }
        6. *{ text-size : 16px }

    p. 151 ~ 152    : 가상 요소 선택자
        - HTML에 없던 내용물[ 주로 텍스트, 이미지 ]을 CSS에서 넣어주기가 가능한 기능 - 
        ::before    : 요소 앞부분에 내용물 가상으로 넣어주기
        ::after     : 요소 뒷부분에 내용물 가상으로 넣어주기
            content : 가상 요소의 내용물

    flex-basis : 465px;
        vs
    width : 465px;
        
        차이점  : 1. flex-dirextion: colums 일떄
                    width : 고정    flex-basis : 전체사이즈 늘어남.
                  2. 요소보다 더 큰 컨텐츠가 들어왔을때
                    width : 고정    flex-basis : 
*/