/* 공통CSS */
@font-face {
    font-family: 'WarhavenB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/WarhavenB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
*{
    border: 1px solid 
    green; padding: 10px;
    font-family: 'WarhavenB';
    list-style-type: none;/* 글머리제거 */
    margin: 0px; padding: 0px;/* 기본여백제거 */
    box-sizing: border-box;/* 안쪽여백 포함 사이즈 */
}
a{color: black; text-decoration: none;} /* a테그 설정 */
#wrap{
    width: 350px;
    margin: 0 auto;
}
#maim{
    
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}
    #header>img{width: 70px;}